@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    transition: .3s ease-in-out;
}

:root{
    --main-color: #3191eb;
    --black: #000;
    --white: #fff;
    --text-color: #aaa;
    --bg-color: #f0faf6;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .07);
    --border: .1rem solid rgba(0,0,0,.1);
  }


/* ========================== Global Tags =============== */
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background: var(--white);
}
section{
    padding: 5vw 10vw 0 10vw;
}
footer{
    padding: 5vw 10vw 4vw 10vw;
}
h1{
    font-size: 4rem;
    font-weight: 700;
    color: var(--black);
}
p{
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--text-color);
    line-height: 1.6;
}
.btn, 
.btn-outline{
    padding: 15px 35px;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 50px;
    border: 2px solid var(--main-color);
}
.btn{
    background-color: var(--main-color);
    color: var(--white);
}
.btn:hover{
    background: none;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}
.btn-outline{
    background: none;
    color: var(--main-color);
}
.btn-outline:hover{
    background-color: var(--main-color);
    color: var(--white);
}
.section-title{
    font-size: 3rem;
    text-align: center;
    color: var(--black);
    position: relative;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 45px;
}
.section-title::after{
    position: absolute;
    content: '';
    width: 4.5rem;
    height: 0.25rem;
    background-color: var(--black);
    bottom: -2rem;
    left: 23rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

/*==================== Header Section ===================*/
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(253, 253, 253, 0.685);
    color: var(--text-color);
    height: 80px;
    padding: 2vw 8vw 0 8vw;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(19px);
    z-index: 100;
}

header .navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    font-size: 2.3rem;
    color: #21435a;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .logo span{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: var(--main-color);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;

}
nav a{
    margin: 0 1rem;
    color: var(--textColor);
    font-size: 1.4rem;
}
nav a.active{
    color: var(--black);
    font-weight: 700;
}
header .nav-btn{
    font-size: 2.3rem;
    color: var(--main-color);
    padding: 5px;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
}
header .nav-closeBtn{
    color: var(--white);
}

/*==================== Hero Section ===================*/
#hero{
    padding: 5vw 8vw 0 8vw;
}
.hero{
    width: 100%;
    height: 100vh;
}
.hero .hero-box{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}
.hero .hero-box .hero-text{
    width: 45rem;
    margin-right: 40px;
}
.hero .hero-box .hero-text h1{
    font-weight: bolder;
    padding-bottom: 20px;
    font-size: 4.5rem;
}
.hero .hero-box .hero-text p{
    line-height: 1.6;
    padding-bottom: 30px;
}
.hero .hero-box .image{
    width: 65rem;
}
.hero .hero-box .image img{
    width: 100%;
}

/*==================== Service Section ===================*/
#service{
    margin-top: 5rem;
} 
.service .service-detail{
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}
.service .card{
    background-color: var(--white);
    border-radius: 20px;
    flex: 0 0 31%;
    max-width: 31%;
    padding: 50px 30px 40px 30px;
    box-shadow: var(--box-shadow);
}
.service .card h3{
    font-size: 2rem;
    font-weight: bold;
    padding: 20px 0;
}
.service .card p{
    font-size: 14px;
    font-weight: 300;
}
.service .service-btn{
    margin-top: 6rem;
    text-align: center;
}


/*==================== Customer Section ===================*/
.customer{
    height: 80vh;
}
.customer .container{
    position: relative;
    background-color: var(--main-color);
    padding: 40px 40px 10px 40px;
    border-radius: 20px;
    /* overflow-x: hidden; */
    height: 38rem;
    max-height: 100%;
    width: 90%;
    margin: 0 auto;
}

.customer .container h2{
    color: #ecf3f7;
}
.customer .container h2::after{
    content: '';
    background-color: #ecf3f7;
}
.customer .container .card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
    background-color: var(--main-color);
    padding: 20px 40px 0px 40px;
    border-radius: 20px;
}
.customer .container .card-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 36%;
    max-width: 36%;
}
.customer .container .card-inner img{
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    border: 3px solid var(--white);
}
.customer .container .card-inner h2{
    font-size: 2rem;
    font-weight: lighter;
    color: #f0faf6;
    padding-bottom: 10px;
}
.customer .container .card-inner p{
    color: #bed6df;
    font-weight: lighter;
    font-size: 15px;
}
.customer .container .card-detail{
    flex: 0 0 46%;
    max-width: 46%;
}
.customer .container .card-detail p{
    color: #bed6df;
    font-weight: lighter;
    font-size: 15px;
    line-height: 1.8;
}
.swiper {
    width: 100%;
    height: 100%;
}
.customer-Swiper{
    display: flex;
    flex-wrap: wrap;
}

.swiper-pagination-bullet{
    /* margin-top: 20rem; */
}
.customer-button{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: -.5rem;
    left: 40%;
    z-index: 100;
}
.customer-button button{
    gap: 3rem;
    padding: 4px;
    margin-right: 14rem;
    background: none;
    color: #a9cdf0;
    font-size: 1.8rem;
}
.customer-button button:focus{
    color: var(--main-color);
=======
/*==================== Leading Section ===================*/
#leading{
    padding-top: 15rem;
}
.leading .mobile-container{
    margin-top: 15rem;
}
.leading .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leading .row .image{
    width: 50rem;
    height: 45rem;
}
.leading .row .image img{
    height: 100%;
    width: 100%;
}
.leading .row .leading-text{
    position: relative;
    width: 380px;
}
.leading .row .leading-text h1{
    font-size: 3.5rem;
    font-weight: 550;
    color: var(--black);
    line-height: 1.5;
    margin-bottom: 42px;
}
.leading .row .leading-text h1::after{
    position: absolute;
    content: '';
    width: 4.5rem;
    height: 0.2rem;
    background-color: var(--black);
    top: 12rem;
    left: 0;
}
.leading .row .leading-text p{
    font-size: 14px;
    margin-bottom: 32px;
    line-height: 2;
    font-weight: lighter;
}
.btn-flex{
    display: flex;
    align-items: center;
}
.btn-flex span{
    padding-right: 7px;
}

/*==================== Article Section ===================*/
.blog .blog-card{
    background-color: var(--white);
    flex: 0 0 31%;
    max-width: 31%;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
.blog .blog-card .image{
    height: 24rem;
    width: 100%;
}
.blog .blog-card:hover .image{
    filter: grayscale(100);
}
.blog .blog-card .image img{
    width: 100%;
    height: 100%;
}
.blog .blog-card .blog-details{
    background-color: var(--white);
    padding: 25px 36px;
    line-height: 1.5;
}
.blog .blog-card .blog-details h2{
    font-size: 1.9rem;
    color: #222;
    margin-bottom: 1.1rem;
}
.blog .blog-card:hover h2{
    color: var(--main-color);
}
.blog .blog-card .blog-details a{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: var(--main-color);
    margin-top: 2.6rem;
}
.blog .blog-card .blog-details a span{
    margin-right: 12px;
    font-size: 1.4rem;
}
.blog .blog-btn{
    margin-top: 6rem;
    text-align: center;
}


footer{
    background-color: var(--main-color);
    margin-top: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .logo{
    font-size: 2rem;
    color: #ebf3ef;
    font-weight: lighter;
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}
footer .logo span{
    width: 32px;
    height: 32px;
    line-height: 40px;
    background-color: var(--white);
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: 700;
}
footer .footer-box{
    width: 18rem;
}
footer .f-width{
    width: 35rem;
}
footer .footer-box h2{
    font-size: 1.8rem;
    color: #ebf3ef;
    font-weight: lighter;
    padding-bottom: 2rem;
}
footer .footer-box p{
    list-style: none;
    font-size: 1.5rem;
    color: #cedfd5;
    font-weight: lighter;
    line-height: 1.6;
}
footer .footer-box .a-link{
    font-size: 1.5rem;
    color: #cedfd5;
    display: flex;
    align-items: flex-start;
    line-height: 2.5;
}
footer .footer-box .a-link:hover{
    color: #fafafa;
}











@media only screen and (max-width: 1140px){
    header{
        padding: 2vw 6vw 0vw 6vw;
    }
    section{
        padding: 5vw 6vw 0 6vw;
    }
    footer{
        padding: 5vw 6vw 4vw 6vw;
    }
}

@media only screen and (max-width: 1024px){

    .section-title{
        margin-top: 0rem;
        margin-bottom: 45px;
    }

    header{
        padding: 2vw 4vw 0vw 4vw;
    }
    #hero{
        padding: 5vw 4vw 4vw 4vw;
    }
    section{
        padding: 5vw 4vw 0 4vw;
    }
    footer{
        padding: 5vw 4vw 3vw 4vw;
    }
    .hero .hero-text h1{
        font-size: 2.2rem;
    }

    .service .service-detail{
        max-width: 90%;
    }
}

@media only screen and (max-width:991px){
    html{
        font-size: 55%;
    }
    section{
        padding: 5vw 4vw 0 4vw;
    }
    footer{
        padding: 5vw 4vw 3vw 4vw;
    }
    .row{
        gap: 2.5rem;
    }
    .hero .hero-box{
        padding-top: 60px;
    }
    .hero .hero-box .image img{
        width: 100%;
    }
    .hero .hero-box .hero-text{
        width: 50%;
    }
    .hero .hero-box .hero-text h1{
        font-size: 3.5rem;
    }

    .service .service-detail {
        max-width: 90%;
        margin-bottom: 38px;
    }
  }

    .customer .container .card-inner{
        flex-direction: column;
    }
    .customer .container .card-inner{
        flex: 0 0 28%;
        max-width: 28%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .customer .container .card-inner img{
        margin-bottom: 1rem;
    }
    .customer .container .card-detail{
        flex: 0 0 65%;
        max-width: 65%;
  }
    .leading .row .image{
        width: 45rem;
        height: 40rem;
    }
    .leading .row .leading-text{
        width: 40%;
    }
    
}


@media only screen and (max-width: 768px){
    section{
        padding: 7vw 3vw 0 3vw;
    }
    footer{
        padding: 5vw 3vw 3vw 3vw;
    }
    .section-title{
        margin-top: 85rem;
        margin-bottom: 45px;
    }
    .row{
        gap: 2rem;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 2vw 0vw 2vw;
    }
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--main-color);
        gap: 2rem;
        transform: translateY(-100vh);
        transition: 1s;
    }
    .nav-header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header .responsive_nav{
        transform: none;
    }
    nav a{
        color: var(--white);
    }
    nav a.active{
        color: var(--white);
        font-weight: 700;
    }
    header .nav-closeBtn{
        position: absolute;
        top: 2rem;
        right: 1rem;
    }

    .hero .hero-text h1{
        font-size: 1.8rem;
    }
    .hero .container{
        display: flex;
        flex-wrap: wrap;
    }

    .hero .hero-box{
        display: flex;
        flex-wrap: wrap;
    }
    .hero .hero-box .hero-text{
        text-align: center;
        margin-right: 0;
        margin-top: 3rem;
        width: 100%;
    }
    .hero .hero-box .image{
        width: 100%;
        margin-top: 5rem;
        /* margin-bottom: -5rem; */
    }

    #service{
        margin-top: -40rem;
    }
    .service .card{
        flex: 0 0 48%;
        max-width: 48%;
        padding: 40px 20px 30px 20px;
    }

    .customer{
        height: 100vh;
    }
    .customer .container .card-inner{
        flex: 0 0 100%;
        max-width: 100%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .customer .container .card-detail{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .customer .container{
        padding: 10px;
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }
    .customer .container  .section-title{
        margin-top: 5rem;
        margin-bottom: 45px;
        width: 100%;
    }
    .customer .container .card{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 10px;
        text-align: center;
        margin-bottom: 2rem;
    }
    .customer .container .card-detail p {
        margin-top: 2rem;
    }
    .customer-button{
       display: none;
    .leading .mobile-container .mobile-container{
        text-align: center;
    }
    .leading .row .image{
        width: 50rem;
        height: 35rem;
    }
    .leading .row .leading-text{
        width: 80%;
    }
    .leading .row .image{
        width: 100%;
        height: 100%;
    }
    .leading .row .leading-text{
        width: 100%;
    }
    .leading .row .leading-text h1::after{
        top: 7rem;
        left: 0;
    }

    .blog .blog-card .blog-details{
        padding: 10px 15px;
    }
    .blog .blog-card .blog-details h2{
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }
    .blog .blog-card .image{
        height: 20rem;
    }
    .blog .blog-card .blog-details p{
        font-size: 1.4rem;
    }
    .blog .blog-card .blog-details a{
        font-size: 1rem;
        color: var(--main-color);
        margin-top: 2.2rem;
    }
    .blog .blog-card .blog-details a span{
        margin-right: 12px;
        font-size: 1.4rem;
    }


    footer .footer-box .a-link{
        line-height: 2.1;
    }
}

@media (max-width:600px){
    .section-title{
        margin-top: 65rem;
        margin-bottom: 45px;
    }
    .btn, 
    .btn-outline{
        padding: 10px 25px;
    }
    .hero .hero-box .hero-text h1{
        font-size: 3.5rem;
    }

    .service .service-detail {
        max-width: 90%;
        margin-bottom: 30px;
    }

    .blog .blog-card{
        flex: 0 0 48%;
        max-width: 48%;
    }
    .blog .container .row{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
   
    footer .footer-box{
        width: 18rem;
    }
    footer .f-width{
        width: 30rem;
    }
    footer .footer-box h2{
        padding-top: 2.5rem;
        padding-bottom: 1rem;
    }
    footer .logo{
        padding-top: 2.5rem;
    }
    footer .footer-box .a-link{
        line-height: 1.9;
    }

}

@media (max-width:540px){
    #service{
        padding-top: 20rem;
    }
    .leading .row .leading-text h1{
        font-size: 2.8rem;
    }
    .leading .row .leading-text h1::after{
        top: 5rem;
        left: 0;
    }
}
@media (max-width:450px){

    .section-title{
        margin-top: 40rem;
        margin-bottom: 45px;
    }

    header .logo{
        font-size: 2.1rem;
        font-weight: 600;
    }
    header .logo span{
        width: 35px;
        height: 35px;
        line-height: 35px;
        margin-right: 6px;
    
    }
    .btn, 
    .btn-outline{
        padding: 10px 20px;
    }
    .hero .hero-box .hero-text{
        width: 100%;
    }
    .hero .hero-box .hero-text h1{
        font-size: 2.8rem;
    }
    

    .service .card{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 40px 20px 30px 20px;
    }
    .service .service-detail {
        max-width: 100%;
    }


    .blog .blog-card{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .blog .blog-card .image{
        height: 27rem;
    }


    footer .f-width{
        width: 100%;
    }
}

@media (max-width:420px){
    #service{
        margin-top: -25rem;
    }
    .hero .hero-box {
        margin-top: -10rem;
    }
    .hero .hero-box .image{
        margin-top: -20rem;
        margin-bottom: -50rem;
    }
    .hero{
        width: 100%;
        height: 100vh;
    }
    .hero .hero-box{
        height: 90vh;
    }
    .hero .hero-box .hero-text{
        margin-top: 5rem;
    }
}

@media (max-width:412px){
    .hero .hero-box .image img {
        margin-top: -10rem;
    }
    .section-title{
        margin-top: 20rem;
    }
    
    .leading .row .leading-text h1{
        font-size: 2.2rem;
    }

}


@media (max-width:320px){
    .hero .hero-box .hero-text{
        margin-top: 10rem;
    }
    .hero .hero-box .image{
        margin-top: 1rem;
    }
    .section-title{
        margin-top: 40rem;
    }
}